@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body{
    font-family: "Montserrat";
    font-weight: 500;
    margin: 0;
    background: #F9FDFF;
}
a{
    text-decoration: none;
}
.header{
    background: #FFFFFF;  
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15); 
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.header__list_item{
    padding: 0 12px;
    font-size: 18px;
}
.logo{
    padding: 18px;
}
.item__link{
    color: black;
    text-decoration: none;
}
.student-btn{
    align-items: center;
    display: flex;
    font-size: 16px;
}
.student-btn span{
    padding-left: 8px;
}
.student-block{
    border: 1px solid black;
    border-radius: 50px;
    padding: 16px 20px;
}
.main{
    padding-top: 5%;
}
.cover{
    background-image: url(../images/banner.png);
    height: 632px;
    background-size: cover;
    padding: 162px 303px 120px 81px;
}
.cover__text{
    max-width: 955px;
    background: #3DA2FF;
    box-shadow: 0px 8px 28px rgb(103 103 103 / 10%), 0px 18px 88px rgb(103 103 103 / 10%);
    border-bottom-left-radius: 88px;
    padding: 68px 0 96px 41px;
}
.cover__text span{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: white;
}
.cover__img{
    position: absolute;
    top: 86px;
}
.main__about-us{
    margin-top: 150px;
}
.main__header{
    margin: 0;
    color: #243994;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
}
.txt-aboutus{
    width: 571px;
}
.txt-aboutus p{
    margin-bottom: 28px;
}
.more-btn{
    padding: 20px 81px 20px 49px;
    background: #3DA2FF;
    box-shadow: 0px 4px 6px rgb(103 103 103 / 10%), 0px 8px 12px rgb(103 103 103 / 10%);
    border-radius: 50px;
    margin-top: 27px;
    color: white;
    display: inline-block;
}
.aboutus-block{

}
.img-aboutus{
    background-image: url(../images/Rectangle99.png);
    background-size: cover;
    width: 487px;
    height: 567px;
    background-position-x: right;
    margin: 0 auto;
}
.img-aboutus__block{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 10px;
    width: 201px;
    height: 132px;
    padding-top: 20px;
    position: absolute;
    margin-top: 50px;
    /* margin-left: -100px; */
}
.img-aboutus__block p{
    margin: 0 auto;
    text-align: center;
}
.img-aboutus__block2{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 10px;
    width: 201px;
    height: 132px;
    position: absolute;
    padding-top: 20px;
    margin-top: -74px;
    margin-left: 221px;
}
.img-aboutus__block2 p{
    margin: 0 auto;
    text-align: center;
}



.footer{
    background-color: #243994;
    padding-top: 65px;
    border-top: 6px solid #30E9D2;
}
.footer-logo-link{
    margin-bottom: 34px;
    display: inline-block;
}
.footer-logo p{
    color: white;
}
.footer__nav{
    list-style-type: none;
}
.footer__nav-li{
    margin-bottom: 20px;
}
.footer__nav-a{
    color: white;
    text-decoration: none;
}
.social{
    list-style-type: none;
    display: flex;
}
.social-li{
    padding-right: 10px;
}
.rights{
    text-align: center;
    color: white;
    margin-top: 64px;
    background-color: #333333;
}
.rights p{
    margin: 0;
    padding: 10px;
}


/* Komanda */

.partition-path{
    margin-top: 38px;
    margin-bottom: 47px;
}
.cards{
    margin-bottom: 188px;
}
.this-page{
    font-size: 16px;
    text-decoration: none;
    color: gray;
}
.command__header{
    font-weight: bold;
    font-size: 40px;
    margin: 47px 0;
    color: #243994;
}
.employee-card{
    background: white;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 38px;
    width: 372px;
    height: 457px;
    margin-top: 47px;
}
.employee-card span{
    width: 100%;
    display: block;
}
.employee-name{
    text-align: center;
    color: #243994;
    margin-top: 17px;
    margin-bottom: 4px;
    line-height: 29px;
}
.employee-position{
    text-align: center;
    margin: 0;
    line-height: 29px;
}
/* Komanda */

/* NEWS */
.news-p{
    text-align: center;
    margin-top: 17px;
}
/* NEWS */
 /* ARTICLES */
 .date{
     margin-bottom: 15px;
     margin-top: 15px;
 }
 .news-banner{
    margin-bottom: 38px;
 }
 .news-banner img{
     width: 100%;
 }
 .contact-text-block{
     font-size: 16px;
     line-height: 25px;
     margin-bottom: 88px
 }
 .contact-text-block ul{
    padding-left: 30px;
 }
 .txt-block-heading{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 13px;
 }
 /* ARTICLES */
 
 /* CONTACTS */
 .head-block{
     margin-bottom: 47px;
 }
 .contact-block{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgb(103 103 103 / 10%), 0px 18px 88px rgb(103 103 103 / 10%);
    border-radius: 30px;
    padding: 55px 88px 55px 49px;
 }
 .phone-block__p{
    font-size: 25px;
    line-height: 40px;
    display: flex;
    letter-spacing: 0.01em;
    align-items: center;
 }
 .mb-35{
    margin-bottom: 35px;
 }
 .phone-block__svg{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 20px;
    display: inline-block;
    padding: 24px;
 }
 .phone-block__contact{
    margin-left: 30px;
 }
 .phone-block{

 }
 .form-header{
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 25px;
    color: #243994;
    letter-spacing: 0.01em;
 }
 .form-block{
    width: 60%;
 }
 .form{
    display: flex;
    flex-direction: column;
 }
 .form-input{
    margin-bottom: 25px;
    padding: 16px 20px;
    border: 1px solid #3DA2FF;
    box-sizing: border-box;
    border-radius: 50px;
 }
 .submit-btn{
    border: 1px solid #3DA2FF;
    box-sizing: border-box;
    border-radius: 50px;
    background: #3DA2FF;
    padding: 16px 20px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
 }
 .mapouter{
    width: 100%;
 }