@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body{
    font-family: "Montserrat";
    font-weight: 500;
    margin: 0;
    background: #F9FDFF;
}
a{
    text-decoration: none;
}
.header{
    background: #FFFFFF;  
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15); 
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 18px 0;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.header__list_item{
    padding: 0 12px;
    font-size: 18px;
}
.logo{
    
}
.item__link{
    color: black;
    text-decoration: none;
}
.item__link:hover{
    color: #0088E8;
    border-bottom: 2px solid;
}
.student-btn{
    align-items: center;
    display: flex;
    font-size: 16px;
}
.student-btn span{
    padding-left: 8px;
}
.student-block{
    border: 1px solid black;
    border-radius: 50px;
    padding: 16px 20px;
}
.main{
    padding-top: 5%;
}
.cover{
    background-image: url(../images/banner.png);
    height: 632px;
    background-size: cover;
    margin-bottom: 150px;
}
.cover-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.cover__text{
    max-width: 955px;
    background: #3DA2FF;
    box-shadow: 0px 8px 28px rgb(103 103 103 / 10%), 0px 18px 88px rgb(103 103 103 / 10%);
    border-bottom-left-radius: 88px;
    padding: 68px 0 96px 41px;
    width: 100%;
}
.cover__text span{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: white;
}
.cover__img{
    position: absolute;
    top: 86px;
}
.main_about-us{
    padding-top: 40px;
}
.main__header{
    color: #243994;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 30px;
}
.txt-aboutus{
    width: 571px;
}
.txt-aboutus p{
    margin-bottom: 28px;
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.txt-aboutus__block{
    display: flex;
    align-items: center;
}
.more-btn{
    padding: 20px 49px;
    background: #3DA2FF;
    box-shadow: 0px 4px 6px rgb(103 103 103 / 10%), 0px 8px 12px rgb(103 103 103 / 10%);
    border-radius: 50px;
    color: white;
    display: inherit;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    line-height: 24px;
    margin-right: 17px;
}
.ellipse{
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgb(103 103 103 / 10%), 0px 8px 12px rgb(103 103 103 / 10%);
    border-radius: 50px;
    width: 64px;
    height: 64px;
    display: flex;
    margin-right: 18px;
}
.more-video-btn{
    display: inherit;
    align-items: center;
}
.more-btn span{
    margin-right: 9px;
}
.aboutus-block{
    padding-top: 20px;
}
.img-aboutus{
    background-image: url(../images/Rectangle99.png);
    background-size: cover;
    width: 487px;
    height: 567px;
    background-position-x: right;
    margin: 0 auto;
}
.img-aboutus__block{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 10px;
    width: 201px;
    height: 192px;
    position: absolute;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-aboutus__block p{
    margin: 0 auto;
    text-align: center;
}
.img-aboutus__block2{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 10px;
    width: 200px;
    height: 192px;
    position: absolute;
    margin-top: -74px;
    margin-left: 221px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-aboutus__block2 p{
    margin: 0 auto;
    text-align: center;
}



.footer{
    background-color: #243994;
    padding-top: 65px;
    border-top: 6px solid #30E9D2;
}
.footer-logo-link{
    margin-bottom: 34px;
    display: inline-block;
}
.footer-logo p{
    color: white;
}
.footer__nav{
    list-style-type: none;
}
.footer__nav-li{
    margin-bottom: 20px;
}
.footer__nav-a{
    color: white;
    text-decoration: none;
}
.social{
    list-style-type: none;
    display: flex;
}
.social-li{
    padding-right: 10px;
}
.rights{
    text-align: center;
    color: white;
    margin-top: 64px;
    background-color: #333333;
}
.rights p{
    margin: 0;
    padding: 10px;
}
.carousel{
    background: #DAF3FF;
    width: 100%;
    height: 904px;
}

/* Komanda */

.partition-path{
    padding-top: 38px;
}
.cards{
    margin-bottom: 188px;
}
.this-page{
    font-size: 16px;
    text-decoration: none;
    color: gray;
}
.command__header{
    font-weight: bold;
    font-size: 40px;
    margin: 47px 0;
    color: #243994;
}
.employee-card{
    background: white;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 38px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-150{
    margin-bottom: 150px;
}
.centre-txt{
    text-align: center;
}
.employee-card span{
    width: 100%;
    display: block;
    border-radius: 38px;
}
.employee-card img{
    width: 100%;
}
.employee-name{
    color: #243994;
    padding: 17px 42px 4px 41px;
    line-height: 29px;
}
.employee-position{
    text-align: center;
    margin: 0;
    line-height: 29px;
    padding-bottom: 13px;
}
/* Komanda */

/* NEWS */
.news-p{
    padding: 17px 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px
}
/* NEWS */
 /* ARTICLES */
 .date{
     margin-bottom: 15px;
     margin-top: 15px;
 }
 .news-banner{
    margin-bottom: 38px;
 }
 .news-banner img{
     width: 100%;
 }
 .contact-text-block{
     font-size: 16px;
     line-height: 25px;
     margin-bottom: 88px
 }
 .contact-text-block ul{
    padding-left: 30px;
 }
 .txt-block-heading{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 13px;
 }
 /* ARTICLES */
 
 /* CONTACTS */
 .head-block{
    display: flex;
    justify-content: space-between;
 }
 .contact-block{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgb(103 103 103 / 10%), 0px 18px 88px rgb(103 103 103 / 10%);
    border-radius: 30px;
    padding: 55px 88px 55px 49px;
    height: 100%;
 }
 .phone-block__p{
    font-size: 25px;
    line-height: 40px;
    display: flex;
    letter-spacing: 0.01em;
    align-items: center;
 }
 .mb-35{
    margin-bottom: 30px;
 }
 .phone-block__svg{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 20px;
    display: inline-block;
    padding: 24px;
 }
 .phone-block__contact{
    margin-left: 30px;
    font-weight: 600;
    font-size: 25px;
 }
 .phone-block{

 }
 .form-header{
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 25px;
    color: #243994;
    letter-spacing: 0.01em;
 }
 .form-block{
    width: 60%;
 }
 .form{
    display: flex;
    flex-direction: column;
 }
 .form-input{
    margin-bottom: 25px;
    padding: 16px 20px;
    border: 1px solid #3DA2FF;
    box-sizing: border-box;
    outline: none;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
 }
 .submit-btn{
    border: 1px solid #3DA2FF;
    box-sizing: border-box;
    border-radius: 50px;
    background: #3DA2FF;
    padding: 16px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat';
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 700;
 }
 .mapouter{
    width: 100%;
    position:relative;
    text-align:right;
    height:511px;
    margin: 64px 0 152px 0;
 }
 
 .gmap_canvas{
     width: 100%;
     overflow:hidden;
     background:none!important;
     height:511px;;
     box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
     border-radius: 30px;
 }
 /* CONTACT */

 /* COURSES */
 .courses{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    padding: 34px 20px 40px 20px;
    border-radius: 10px;
 }
 .course-head{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 27px;
 }
 .course-details-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .course-details{
    align-items: center;
    display: flex;
 }
 .course-details{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
 }
 .details-span{
    padding: 0 9px 0 0 !important;
 }
 .course-details span{
    padding-left: 10px;
 }
 .quiz{
    background: #3DA2FF !important;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 10%);
    border: none !important;
    font-weight: 500 !important;
    letter-spacing: 0.01em;
    color: #FFFFFF !important;
    padding: 16px 32px !important;
 }
 .course-details a{
    align-items: center;
    display: inherit;
    background: #FFFFFF;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
 }
 /* COURSES */

 /* ABOUT US */
 .subtitle{
    margin-bottom: 57px;
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    letter-spacing: 0.01em;
 }
 .advantages-block{
    height: 536px;
    width: 100%;
    position: relative;
 }
 .advantages-block::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgba(103, 103, 103, 0.1), 0px 18px 88px rgba(103, 103, 103, 0.1);  
    border-radius: 0 100px;
    width: 90%;
    height: 100%;
    z-index: -1;
 }
 .advantages-block-container{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 .advantages-info{
    display: flex;
 }
.farm-mugs{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    justify-content: center;
    flex: 0 0 80px;
}
.farm-mugs-txt{
    margin-left: 30px;
    margin-right: 95px;
}
.farm-mugs-txt p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
}
.farm-mugs-txt h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}
.carousel-block{

}
.slider-img img{
    display: block;
    width: 100%;
}
.partners{
    margin-bottom: 110px;
}
.partner-head{
    margin-bottom: 70px;
}
.partner-head h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #243994;
}
.partners-logo{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgba(103, 103, 103, 0.1), 0px 18px 88px -4px rgba(103, 103, 103, 0.1);
    border-radius: 10px; 
    height: 214px; 
    display: flex;
    justify-content: center;
    align-items: center;  
}
.partners-logo img{

}
.partners-img-block{
    margin: 0 auto;
    width: fit-content;
}
.recomendation-head h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #243994;
    margin-bottom: 70px;
}
.recomendation-block{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgba(103, 103, 103, 0.1), 0px 18px 88px -4px rgba(103, 103, 103, 0.1);
    border-radius: 10px;
    padding: 61px 49px 37px 57px;
}
.vector-img{
    margin-bottom: 31px;
}
.recomendation-block p{
    margin-bottom: 57px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
 }
 .previous-btn{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 100%;
    padding: 28px 37px;
    margin: -174px -116px;
 }
 .next-btn{
    position: absolute;
    background: #3DA2FF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 100%;
    padding: 28px 37px;
    margin: -174px 546px;
 }
 .recomendation-block span{
    margin-left: 23px;
 }
 .rec-author{
    display: flex;
    align-items: center;
 }
 .rec-author span{
     font-weight: 600;
     font-size: 20px;
    line-height: 26px;
 }
 .register-block{
    background: #3DA2FF;
    box-shadow: 0px 9px 20px 8px rgba(0, 0, 0, 0.11);
    border-radius: 40px;
    padding: 48px 183px 78px;
 }
 .register-block h2{
     color: white;
     font-weight: 700;
    font-size: 50px;
    line-height: 93px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 31px;
 }
 .register-form{
    display: flex;
    justify-content: space-around;
 }
 .register-block input{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 16px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    outline: none;
    background: none;
    width: 283px;
 }
 .register-block input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
 .register-block button{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #243994;
    cursor: pointer;
    padding: 16px 20px;
    border-radius: 50px;
    border: none;
    background: #FFFFFF;
    width: 213px;
 }

 /* SINGLE COURSE */

 .description{
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    letter-spacing: 0.01em;
    color: #3DA2FF;
 }
 .advantages-header{
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #243994;
 }
 .advantages-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .duration{
     display: flex;
 }
 .duration-info{
    background: #3DA2FF;
    box-shadow: 0px 8px 28px rgb(103 103 103 / 10%), 0px 18px 88px rgb(103 103 103 / 10%);
    border-radius: 0px 21px 0px 42.5px;
    padding: 13px 48px 8px;
    margin-left: 40px;
 }
 .duration-info span{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.01em;
 }
 .farm-mugs-txt h5{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #000000;
 }
 .d-flex{
     align-items: center;
 }
 .farm-mugs__p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
 }
 .cours-block-head h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #243994;
 }
 .fisrt-course-img{
    background-image: url(../images/singlecourse/Single-1.png);
    background-size: cover;
    width: 487px;
    height: 567px;
    position: relative;
 }
 .num{
    position: absolute;
    background: #E0F1FF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 50px;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -18px;
    top: -13px;
 }
 .num span{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #3DA2FF;
 }
 .course-block{
    justify-content: space-between;
    margin-bottom: 33px;
 }
 .svg-div{
    background: #E0F1FF;
    border-radius: 10px;
    width: 60px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
 }
 .course-info{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 10px;
    width: 293px;
    padding: 0 19px;
    display: flex;
    height: 317px;
    justify-content: space-around;
    flex-direction: column;
 }
 .course-info h5{   
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #243994;
 }
 .course-info p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
 }
 .single-absolute-block{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 10px;
    width: 230px;
    height: 214px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 431px;
    left: 57px;
 }
 .single-absolute-block p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
 }
 .prices{
     margin-bottom: 260px;
 }
 .prices p{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
 }
 .offline-price-block{
    background: #b2dbff21;
    display: flex;
    width: 372px;
    border-radius: 40px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 669px;
    padding-left: 25px;
 }
 .offline-block-txt svg{
     margin-right: 12px;
 }
 .offline-price-block h5{
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #243994;
    margin-bottom: 15px;
 }
 .offline-price-block h6{
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #3DA2FF;
 }
 .hr-line{
    border: 1px solid #D6D8EE;
    transform: 90deg;
    transform: rotate(0deg);
    width: 266px;
 }
 .div-ul{
    align-items: baseline;
 }
 .div-ul p{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
 }
 .offline-block-txt span{
     font-size: 14px;
     line-height: 25,5px;
 }
 .items-position{
    justify-content: center;
 }
 .m-none{
     margin-right: 0 !important;
 }
 .online-proce-block{
    background: #243994;
    display: flex;
    width: 372px;
    border-radius: 40px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 669px;
    padding-left: 25px;
 }
 .online-proce-block h5{
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
 }
 .online-proce-block h6{
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
 }
 .light{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF !important;
 }
 .light-btn{
    background: #FFFFFF !important;
    box-shadow: 0px 4px 6px rgba(103, 103, 103, 0.1), 0px 8px 12px rgba(103, 103, 103, 0.1);
    color: #3DA2FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
 }


 @media (max-width:1200px) {
     .course-details span{
         font-size: 14px;
     }

 }
 @media(max-width:576px){
     .mb-150, .partners{
         margin-bottom: 65px;
     }
 }
 @media (max-width:500px){
    .course-details{
        margin-bottom: 15px;
    }
    .course-details:last-child{
        margin-bottom: 0;
    }
    .course-details-block{
        flex-direction: column;
        align-items: flex-start;        
    }
 }

 