@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: "Montserrat";
    font-weight: 500;
    margin: 0;
    background: #F9FDFF;
}
.header{
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);   
}
.header__nav{
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    align-items: center;
}
.header__list{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.header__list_item{
    padding: 0 12px;
    font-size: 18px;
}
.item__link{
    color: black;
    text-decoration: none;
}
.student-btn{
    align-items: center;
    display: flex;
    font-size: 16px;
}
.student-btn span{
    padding-left: 8px;
}
.student-block{
    border: 1px solid black;
    border-radius: 50px;
    padding: 16px 20px;
}
.cover{
    background-image: url(../images/banner.png);
    height: 350px;
    background-size: cover;
    padding: 162px 404px 120px 81px;
}
.cover__text{
    width: 809px;
    height: 186px;
    background: #3DA2FF;
    box-shadow: 0px 8px 28px rgb(103 103 103 / 10%), 0px 18px 88px rgb(103 103 103 / 10%);
    border-bottom-left-radius: 88px;
    padding: 68px 105px 96px 41px;
}
.cover__text span{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: white;
}
.cover__img{
    position: absolute;
    top: 81px;
}

/* Komanda */
.main{
    padding: 0 120px;
}
.partition-path{
    margin-top: 38px;
}
.this-page{
    font-size: 16px;
    text-decoration: none;
    color: gray;
}
.main__header{
    font-weight: bold;
    font-size: 40px;
    margin: 47px 0;
    color: #243994;
}
.employee-card{
    background: white;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 38px;
    width: 372px;
    height: 457px;
}
.employee-name{
    text-align: center;
    color: #243994;
    margin-top: 17px;
    margin-bottom: 4px;
    line-height: 29px;
}
.employee-position{
    text-align: center;
    margin: 0;
    line-height: 29px;
}
/* Komanda */