@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body{
    font-family: "Montserrat";
    font-weight: 500;
    margin: 0;
    background: #F9FDFF;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.header{
    background: #FFFFFF;  
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15); 
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 18px 0;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.header__list_item{
    padding: 0 12px;
    font-size: 18px;
}
.item__link{
    color: black;
    text-decoration: none;
}
.item__link:hover{
    color: #0088E8;
    border-bottom: 2px solid;
}
.student-btn{
    align-items: center;
    display: flex;
    font-size: 16px;
}
.student-btn span{
    padding-left: 8px;
}
.student-block{
    border: 1px solid black;
    border-radius: 50px;
    padding: 16px 20px;
}
.main{
    padding-top: 90px;
}
.page-nav{
    padding-top: 38px;
}
.cover{
    background-image: url(../images/banner.png);
    height: 632px;
    background-size: cover;
    margin-bottom: 150px;
}
.cover-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.cover__text{
    max-width: 955px;
    background: #3DA2FF;
    box-shadow: 0px 8px 28px rgb(103 103 103 / 10%), 0px 18px 88px rgb(103 103 103 / 10%);
    border-bottom-left-radius: 88px;
    padding: 68px 0 96px 41px;
    width: 100%;
}
.cover__text span{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: white;
}
.img-cover-span{
    display: block;
}
.cover__img{
    position: absolute;
    top: 86px;
}
.main_about-us{
    padding-top: 40px;
}
.main-header{
    color: #243994;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 30px;
}
.txt-aboutus{
    width: 532px;
}
.txt-aboutus__block{
    display: flex;
    align-items: center;
}
.more-btn{
    padding: 20px 49px;
    background: #3DA2FF;
    box-shadow: 0px 4px 6px rgb(103 103 103 / 10%), 0px 8px 12px rgb(103 103 103 / 10%);
    border-radius: 50px;
    color: white;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    line-height: 24px;
    margin-right: 17px;
}
.ellipse{
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgb(103 103 103 / 10%), 0px 8px 12px rgb(103 103 103 / 10%);
    border-radius: 50px;
    width: 64px;
    height: 64px;
    display: flex;
    margin-right: 18px;
    flex: 0 0 64px;
}
.more-video-btn{
    display: inherit;
    align-items: center;
}
.more-btn span{
    margin-right: 9px;
}
.aboutus-block{
    padding-top: 20px;
}
.img-aboutus{
    background-image: url(../images/Rectangle99.png);
    background-size: cover;
    width: 487px;
    height: 567px;
    background-position-x: right;
    margin: 0 auto;
}
.first-course-img {
    position: relative;
}
.course-im-span {
    display: inline-block;
    position: relative;
}
.course-im-span::before {
    content: "";
    position: absolute;
    width: 443px;
    height: 503px;
    background: #243994;
    bottom: -23px;
    right: -22px;
    z-index: -1;
}
.img-aboutus__block{
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 10px;
    width: 200px;
    height: 192px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 449px;
    left: 241px;
}
.img-aboutus__block p{
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
}
.position{
    top: 74px;
    left: -101px;
}
.img-aboutus__block2 p{
    margin: 0 auto;
    text-align: center;
}
.mb-150{
    margin-bottom: 150px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-40 {
    margin-bottom: 40px;
}
.ml-28 {
    margin: 0 28px;
}
.m-none {
    margin-right: 0 !important;
}
.head-block {
    display: flex;
    justify-content: space-between;
}
.course-details span {
    padding-left: 10px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
}
.courses {
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    padding: 34px 20px 40px 20px;
    border-radius: 10px;
}
.course-head h4{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 27px;
}
.course-details-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-details {
    align-items: center;
    display: flex;
}
.course-details .more-btn{
    padding: 20px 49px;
    background: #3DA2FF;
    border: none;
    box-shadow: 0px 4px 6px rgb(103 103 103 / 10%), 0px 8px 12px rgb(103 103 103 / 10%);
    color: white;
    font-weight: 500;
}
.course-details a {
    align-items: center;
    display: inherit;
    background: #FFFFFF;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.details-span {
    padding: 0 9px 0 0 !important;
}
.advantages-block {
    height: 536px;
    width: 100%;
    position: relative;
}
.advantages-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgb(103 103 103 / 10%), 0px 18px 88px rgb(103 103 103 / 10%);
    border-radius: 0 100px;
    width: 95%;
    height: 100%;
    z-index: -1;
}
.advantages-block-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.subtitle {
    margin-bottom: 57px;
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    letter-spacing: 0.01em;
}
.advantages-info {
    display: flex;
}
.svg-block{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgba(103, 103, 103, 0.1), 0px 18px 88px -4px rgba(103, 103, 103, 0.1);
}
.advantages-info .svg-block {
    border-radius: 20px;
    width: 80px;
    height: 80px;
    flex: 0 0 80px;
}
.farm-mugs-txt {
    margin-left: 30px;
    padding-right: 95px;
}
.farm-mugs-txt h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}
.farm-mugs-txt p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
}
.carousel {
    background: #DAF3FF;
    width: 100%;
    height: 904px;
}
.partner-head {
    margin-bottom: 70px;
}
.partners-logo {
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 10px;
    height: 214px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recomendation-block {
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 10px;
    padding: 61px 49px 37px 57px;
    position: relative;
}
.vector-img {
    margin-bottom: 31px;
}
.recomendation-block p {
    margin-bottom: 57px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}
.previous-btn, .next-btn{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 100%;
    padding: 28px 37px;
    left: -57px;
    bottom: 190px;
}
.next-btn {
    background: #3DA2FF;
    left: 590px;
}
.rec-author {
    display: flex;
    align-items: center;
}
.rec-author span {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-left: 23px;
}
.register-block {
    background: #3DA2FF;
    box-shadow: 0px 9px 20px 8px rgb(0 0 0 / 11%);
    border-radius: 40px;
    padding: 48px 183px 78px;
}
.register-block h2 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 93px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 31px;
}
.register-form {
    display: flex;
    justify-content: space-around;
}
.register-form form {
    display: flex;
}
.register-block input {
    padding: 16px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    outline: none;
    background: none;
    width: 283px;
}
.register-block input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
  }
.register-block button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #243994;
    cursor: pointer;
    padding: 16px 20px;
    border-radius: 50px;
    border: none;
    background: #FFFFFF;
    width: 213px;
}
.news-block .main-header{
    margin-bottom: 40px;
}
.employee-card {
    background: white;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 38px;
}
.employee-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.employee-card span {
    width: 100%;
    height: 363px;
    overflow: hidden;
    display: block;
    border-radius: 38px;
}
.news-p {
    padding: 17px 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: left !important;
}
.footer{
    background-color: #243994;
    padding-top: 65px;
    border-top: 6px solid #30E9D2;
}
.footer-logo-link{
    margin-bottom: 34px;
    display: inline-block;
}
.footer-logo p{
    color: white;
}
.footer__nav{
    list-style-type: none;
}
.footer__nav-li{
    margin-bottom: 20px;
}
.footer__nav-a{
    color: white;
    text-decoration: none;
}
.footer-head{
    color: #fff;
    opacity: 0.5;
}
.social{
    list-style-type: none;
    display: flex;
}
.social-li{
    padding-right: 10px;
}
.rights{
    text-align: center;
    color: white;
    margin-top: 64px;
    background-color: #333333;
}
.rights p{
    margin: 0;
    padding: 10px;
}

/* SINGLE COURSE */
.item-link {
    color: black;
    text-decoration: none;
}
.this-page {
    font-size: 16px;
    text-decoration: none;
    color: gray;
}
.description-head {
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    letter-spacing: 0.01em;
    color: #3DA2FF;
}
.txt-aboutus p {
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.single-courses .advantages-block{
    height: 652px;
}
.advantages-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.duration-info {
    background: #3DA2FF;
    box-shadow: 0px 8px 28px rgb(103 103 103 / 10%), 0px 18px 88px rgb(103 103 103 / 10%);
    border-radius: 0px 21px 0px 42.5px;
    padding: 13px 48px 8px;
    margin-left: 40px;
}
.duration-info span {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.01em;
}
.farm-mugs-txt h5 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #000000;
}
.farm-mugs__p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
}
.mb-30{
    margin-bottom: 30px;
}
.in-block .img-aboutus__block {

    top: 431px;
    left: 57px;
}
.centre-txt {
    text-align: center;
}
.course-info {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 10px;
    width: 293px;
    padding: 35px 19px;
    height: 317px;
    margin-bottom: 33px;
}
.course-info .svg-block{
    background: #E0F1FF;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}
.num span {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #3DA2FF;
}
.num {
    position: absolute;
    background: #E0F1FF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 50px;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -18px;
    top: -13px;
}
.course-info h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #243994;
    margin-bottom: 11px;
}
.course-info p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.prices p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.offline-price-block {
    background: #b2dbff21;
    display: flex;
    width: 100%;
    border-radius: 40px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 669px;
    padding: 45px 58px;
}
.online{
    background: #243994;
}
.online h6{
    color: #FFFFFF !important;
}
.online h5{
    color: #FFFFFF !important;
}
.online p{
    color: #FFFFFF !important;
}
.offline-price-block h6 {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #3DA2FF;
}
.online a{
    color: #3DA2FF;
    background: #fff;
}
.offline-price-block h5 {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #243994;
    margin-bottom: 15px;
}
.hr-line {
    border: 1px solid #D6D8EE;
    transform: 90deg;
    transform: rotate(0deg);
    width: 266px;
}
.div-ul {
    align-items: baseline;
}
.div-ul p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}
.div-ul .svg-div{
    margin-right: 12px;
}
.items-position {
    justify-content: center;
}
.offline .div-ul p{
    color: #fff;
}
/* SINGLE COURSE */

/* COURSES */

.course-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.course-head span{
    background: #3DA2FF;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 1.5px 14.5px;
}
.course-wrapper{
    margin-bottom: 71px;
}
/* COURSES */

/* TEAM */
.employee-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #243994;
    padding-top: 17px;
}
.employee-position{
    padding-top: 4px;
    padding-bottom: 13px;
}
.employee-card p{
    text-align: center;
}
.content .employee-card{
    margin-bottom: 130px;
}
/* TEAM */

/* ARTICLES */
.date {
    margin-bottom: 15px;
    margin-top: 15px;
}
.news-banner img {
    width: 100%;
}
.contact-text-block {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 88px;
    font-weight: 500;
}
.contact-text-block p{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.txt-block-heading{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 13px;
}
.contact-text-block ul {
    padding-left: 30px;
}
/* ARTICLES */

/* CONTACTS */
.contact-block {
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgb(103 103 103 / 10%), 0px 18px 88px rgb(103 103 103 / 10%);
    border-radius: 30px;
    padding: 55px 88px 55px 49px;
    height: 100%;
}
.phone-block__svg {
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 20px;
    display: inline-block;
    padding: 24px;
}
.phone-block__contact {
    margin-left: 30px;
    font-weight: 600;
    font-size: 25px;
}
.phone-block__p {
    display: flex;
    letter-spacing: 0.01em;
    align-items: center;
}
.form-header {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 25px;
    color: #243994;
    letter-spacing: 0.01em;
}
.form-block {
    width: 60%;
}
.form {
    display: flex;
    flex-direction: column;
}
.form-input {
    margin-bottom: 25px;
    padding: 16px 20px;
    border: 1px solid #3DA2FF;
    box-sizing: border-box;
    outline: none;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.submit-btn {
    border: 1px solid #3DA2FF;
    box-sizing: border-box;
    border-radius: 50px;
    background: #3DA2FF;
    padding: 16px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat';
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 700;
}
.mapouter {
    width: 100%;
    position: relative;
    text-align: right;
    height: 511px;
    margin: 64px 0 152px 0;
}
.gmap_canvas {
    width: 100%;
    overflow: hidden;
    background: none!important;
    height: 511px;
    box-shadow: 0px 8px 28px -6px rgb(103 103 103 / 10%), 0px 18px 88px -4px rgb(103 103 103 / 10%);
    border-radius: 30px;
}
/* CONTACTS */

/* RESOURCE */
.resource-block-ul li {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 72px;
    align-items: flex-start;
}
.resource-block-ul span {
    margin-right: 20px;
}
.education-heading {
    margin-bottom: 61px;
}
.education-card {
    background-color: #b2dbff6e;
    border-radius: 40px;
    padding: 45px 31px;
    width: 575px;
    height: 507px;
}
.card-h {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    border-radius: 40px;
}
.card-h h5 {
    color: #243994;
}
.edu-h5 {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
}
.card-h h6 {
    color: #3DA2FF;
}
.edu-p {
    display: flex;
    margin-bottom: 43px;
}
.edu-p p {
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #333333;
}
.edu-p .svg-block{
    flex: 00 24px;
    margin-right: 11px;
    background: none;
    box-shadow: none;
}
.price-type-paragraph {
    display: flex;
    align-items: center;
    margin-bottom: 54px;
    width: 530px;
}
.price-type-paragraph p {
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: #000000;
}
.price-type-paragraph .svg-block{
    margin-right: 20px;
}
.chain-img .svg-block{
    width: 160px;
    height: 160px;
    border-radius: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px -6px rgba(103, 103, 103, 0.1), 0px 18px 88px -4px rgba(103, 103, 103, 0.1);
}
.interaction{
    height: 450px;
}
.interaction-block{
    display: flex;
    width: 100%;
    justify-content: center;
}
.interaction-chain{
    position: relative;
}
.chain-wrapper{
    display: flex;
    align-items: center;
}
.chain-array{
    text-align: center;
}
.chain-array h5{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #243994;
}
.chain-txt{
    width: 210px;
    text-align: center;
    position: absolute;
    left: -23px;
}
.chain-txt h6{
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #243994;
    margin-bottom: 19px;
}
.chain-txt p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}
/* RESOURSE */

/* MEDIA QUERYS */
@media(max-width:1400px) {
    .course-im-span::before{
        width: 415px;
        height: 470px;
    }
 }
 @media(max-width:1200px){
     .mb-150{
         margin-bottom: 110px;
     }
    .about-wrapper {
        margin-bottom: 50px;
    }
    .img-aboutus__block2 {
        width: 170px;
        height: 162px;
    }
    .img-aboutus__block{
        top: 355px;
        width: 170px;
        height: 162px;
        left: 170px;
    }
    .txt-aboutus{
        width: 330px;
    }
    .course-details span{
        font-size: 14px;
    }
    .advantages-block{
        height: auto;
        padding: 64px 64px 14px 64px;
    }
    .register-block h2{
        line-height: 72px;
    }
   .course-im-span::before{
        width: 360px;
        height: 408px;
   }
    .txt-aboutus p{
        font-size: 17px;
        line-height: 27px;
    }
    .centre-txt{
        font-size: 14px;
        text-align: center;
    }
    .employee-card{
        margin-bottom: 40px;
    }
 }
 @media(max-width:992px){
     .register-block {
        display: flex;
        justify-content: space-around;
        padding: 48px 36px;
     }
     .txt-aboutus{
         width: 100%;
     }
     .about-wrapper{
         margin-bottom: 50px;
     }
     .first-course-img{

     }
     .registerblock-head{
         width: 260px;
     }
     .about-col{
         display: flex;
         justify-content: center;
     }
    .register-form form{
        flex-direction: column;
    }
    .ml-28{
        margin: 0;
    }
    .register-block input{
        margin-bottom: 20px;
    }
    .register-block h2{
        line-height: 60px;
        font-size: 34px;
        text-align: left;
    }
    .advantages-block{
        padding: 64px 0px 14px 0px;
    }
    .advantages-block::before{
        border-radius: 0 50px;
    }
    .farm-mugs-txt{
        padding-right: 0;
    }
    .footer__nav-li{
        margin-bottom: 10px;
    }
    .footer__nav, .footer-logo{
        margin-bottom: 25px;
    }
    .footer-logo-link{
        margin-bottom: 15px;
    }
 }
 @media(max-width:768px){
    .register-block h2{
        line-height: 48px;
        font-size: 34px;
        text-align: center;
    }
    .registerblock-head{
        width: 100%;
    }
    .register-form form{
        align-items: center;
    }
    .register-block{
        display: block;
    }
    .advantages-block::before{
        width: 100%;
    }
 }
 @media(max-width:576px){
     .mb-150, .partners{
         margin-bottom: 65px;
     }
     .txt-aboutus__block{
         flex-direction: column;
         align-items: start;
     }
     .more-btn{
         margin-bottom: 20px;
         margin-right: 0;
     }
 }
 @media (max-width:500px){
    .course-details{
        margin-bottom: 15px;
    }
    .course-details:last-child{
        margin-bottom: 0;
    }
    .course-details-block{
        flex-direction: column;
        align-items: flex-start;        
    }
    .subtitle , .partner-head h2, .recomendation-head h2, .register-block h2, .main__header{
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 35px;
    }
    .advantages-info{
        flex-direction: column;
    }
    .advantages-block{
        padding: 35px 0px 20px 0px;
    }
    .advantages-block::before{
        border-radius: 0 35px;
    }
    .farm-mugs{
        margin-bottom: 15px;
    }
    .farm-mugs-txt{
        margin-left: 0;
    }
    .mb-50{
        margin-bottom: 35px;
    }
    .course-im-span::before{
        display: none;
    }
    .img-aboutus__block2 , .img-aboutus__block{
        display: none;
    }
    .partner-head{
        margin-bottom: 0;
    }
 }
/* MEDIA QUERYS */